@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="title"> Welcome to our SeaFood Restaurant's Web Page! </h1>

<div id="menu-holder">
    <img id="menu" src="@ViewBag.FrontPageInfo.Url" />
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Edit", "Edit", "Home")
    </p>
}
