@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SonOfCod.ViewModels

@model MailViewModel


<h1>Add yourself to our mailing list!</h1>
@using (Html.BeginForm("RegisterMail", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    <input type="submit" value="Register" />
}

<ul>
    @foreach(var mailUser in ViewBag.MailList)
    {
        <li>mailUser.Email</li>
    }
</ul>