@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SonOfCod.ViewModels

@model MailViewModel


<h1>Add yourself to our mailing list!</h1>
@using (Html.BeginForm("RegisterMail", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label class="form-label">Email:</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

        <input class="btn btn-default" type="submit" value="RegisterMail" />
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <ul>
        @foreach(var mailUser in ViewBag.MailList)
        {
            <li>@mailUser.email</li>
        }
    </ul>
}